.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.title {
    background-color: #cccccc;
    color: #000000;
    padding: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
}

.button_container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.inner_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
    border-radius: inherit;
}

.person_contaienr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.person_name {
    margin: 0 10px;
}

.form_item {
    margin-bottom: 0;
}

.error {
    color: red;
    transition: all ease-in-out .3s;
    opacity: 0;
    visibility: hidden;
}

.error_visible {
    opacity: 1;
    visibility: visible;
}



@media (min-width: 595px) {
    .container {
        width: auto;
        margin-bottom: 5px;
    }
}