.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    flex: 1;
}

@media (min-width: 595px) {
    .form {
        width: auto;
        border-right: 1px solid #cccccc;
    }
} 

